.ed-head {
    color: blue;
}
#navbar-head{
    padding: 10px;
    margin-left: 1rem;
}
.selectS {
    border: 1px solid #222;
    border-width: 2px;
}

#first12th {
    background: slategrey;
}

#offExp {
    margin: 0%;
    padding: 3px;
}

.selectSub {
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 0.7rem;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    scroll-behavior: smooth;
    text-align: left;
    transition: 0.3s;
}
#first12th:disabled {
    background: silver;
    cursor: not-allowed;
}
#razorLogo {
    background: grey;
    width: 30%;
    height: 20%;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#subsBtnAmt {
    margin: 0;
    padding: 0;
    margin-left: auto;
    font-weight: 500;
    font-size: small;
    text-align: right;
}

.selectSub:hover {
    background: #222122;
    color: white;
}

#paybtn {
    margin-left: 5px;
    width: 50%;
}
#cancelbtn {
    width: 47%;
}

#price {
    align-items:flex-end;
    text-align: right;
    padding: 0%;
    margin: 0%;
    margin-left : auto;
}

#left {
    text-align: justify;
    padding: 10px;
    margin: 0 auto;
}

#right {
    text-align: right;
    padding: 10px;
    margin: 0 auto;
}

.infoContents {
    margin-top: 5rem;
    margin-left: 2.8rem;
}
.infoItem {
    margin-top: 3rem;
}
.info-container {
    margin-left: 3rem;
}

#login-btn {
    margin-left: 20px;
}
#signup-btn {
    margin-left: 5px;
}

.search-icon {
    margin-left: 49rem;
}